# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

#路径
/.idea/
/.vscode/
.gitattributes

#匹配
*.log
*.gz
mvnw
mvnw.cmd
*.ini
.mvn/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
